<footer class="bg-primary text-white text-center py-4 mt-5">

	<div class="container">

		<p class="mb-1 fs-4">
			Circle U.
			<br>
			Alumni Platform
		</p>

		<hr>

		<nav>
			<a href="#" class="text-white me-2">Mentions légales</a>
			|
			<a href="#" class="text-white mx-2">Données personnelles</a>
			|
			<a href="#" class="text-white ms-2">Gestion des cookies</a>
		</nav>

		<p class="mt-2">&copy; 2025 Tous droits réservés.</p>

		<hr>

		<div class="mt-2">
			<a href="#" class="text-white mx-2 text-decoration-none">
				<i class="fab fa-facebook"></i>
			</a>
			<a href="#" class="text-white mx-2 text-decoration-none">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="#" class="text-white mx-2 text-decoration-none">
				<i class="fab fa-twitter"></i>
			</a>
		</div>

	</div>

</footer>
